.cardsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

.card {
	min-width: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 15px;
	border: 1px solid black;
	transition: all 150ms ease-in-out;

	font-weight: 700;
	color: black;
}

.card:hover {
	box-shadow: 2px 5px 5px var(--shadow-color);
	background-color: black;
	color: white;
}
